name: Publish Release

on:
  push:
    tags:
      - "*.*.*"
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to release"
        required: true

jobs:
  release:
    name: Publish Release
    runs-on: macos-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Install Dependencies
        run: brew install tree

      - name: Create XCFramework
        run: ./scripts/create-xcframework.sh

      - name: Create GitHub Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          title: ${{ github.event.inputs.tag }}
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            archives/TPPDF.zip
            archives/TPPDF.sha256
