name: Publish Release

on:
  push:
    tags:
      - "*.*.*"
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to release"
        required: true

jobs:
  release:
    name: Publish Release
    runs-on: macos-15
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install Dependencies
        run: make install-ci

      - name: Create XCFramework
        run: make build-xcframework

      - name: Create GitHub Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          automatic_release_tag: ${{ github.event.inputs.tag }}
          title: ${{ github.event.inputs.tag }}
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            archives/TPPDF.zip
            archives/TPPDF.sha256
